# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker
#.dockerignore
#Dockerfile
#docker-compose.yml

# Environment
.env
.venv
venv/
ENV/


# data/

# Tests
tests/

# Editor specific
.idea/
.vscode/
*.swp
*.swo
